<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>A listing in <%= foundListing.city %></h1>
    <img src="<%= foundListing.image %>" width="200px">

    <h2>Details</h2>
    <p>House Size: <%= foundListing.size %> sq ft</p>
    <p>Price: $<%= foundListing.price %></p>
    <p>Street address: <%= foundListing.streetAddress %></p>

    <% if (foundListing.owner._id.equals(user._id)) { %>
        <p>You own this!</p>
    <% } else { %>
        <p>You don't own this, <%= foundListing.owner.username %> does!</p>
    <% } %>
</body>
</html>